version: '3.8'

services:
  # --- Backend (สร้างจากโฟลเดอร์ backend) ---
  backend-service:
    build: ./backend
    container_name: bookstore-backend
    volumes:
      - ./backend/instance:/app/instance
    networks:
      - app-network

  # --- Frontend (สร้างจากโฟลเดอร์ frontend) ---
  frontend-service:
    build: ./frontend
    container_name: bookstore-frontend
    expose:
      - "80"
    depends_on:
      - backend-service
    networks:
      - app-network

  # --- Ngrok (ตัวเดิม) ---
  ngrok:
    image: ngrok/ngrok:latest
    container_name: bookstore-ngrok
    restart: unless-stopped
    command: "http frontend-service:80"
    environment:
      # ใส่ Token ของคุณเหมือนเดิม
      NGROK_AUTHTOKEN: "35h0pzuoLneA6ekkBHVRGlGjPRX_6svMdpM21LHKeG5sxAhtS"
    ports:
      - "4040:4040"
    networks:
      - app-network
    depends_on:
      - frontend-service

networks:
  app-network:
    driver: bridge